* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
address {
  font-style: normal;
}
img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-menu-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
span {
  color: #2e2f42;
}
.header-menu-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-right: 332px;
}
.menu-item {
  padding: 24px 0;
  display: block;
  position: relative;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: #404bbf
}


.menu-item.active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-address-list {
  display: flex;

  gap: 40px;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
:focus {
  color: #404bbf;
}

/* ========1========= */

.section-one {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: center;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.section-title {
  max-width: 100%; /* изменение максимальной ширины для выравнивания по центру */
  margin: 0 auto; /* автоматическое выравнивание по центру */
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}

.main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto; /* автоматическое выравнивание кнопки по центру */
  margin-right: auto; /* автоматическое выравнивание кнопки по центру */
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
:focus {
  background-color: #404bbf;
}

/* =========2========== */

.section-two {
  padding: 120px 0 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two_content {
  display: flex;
  gap: 24px;
}
.section-two_content-item {
  width: calc((100% - 72px) / 4);
}

.icon-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(142, 143, 153, 1);
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 8px;
  padding: 24px 100px;
  height: 112px;
}

.icon-box:hover,
:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.section-two_title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.content_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =========3========== */

.section-three {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-tittle {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.list-item-info {
  padding: 32px 0;
}
.list-item-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-list {
  display: flex;
  gap: 24px;
}
.list-social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
  
}
.list-social-media_item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  
}

.item_link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item_link:hover,
.item_link:active {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

.list-paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}


/* =========4========== */

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.section-four-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-four-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;

}
.section-four-item:hover p {
  transform: translateY(0%);
}

.section-item-img {
  position: relative;
  overflow: hidden;

}


.section-four-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-box-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.list-item-title_two {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-paragraph_two {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =========footer========== */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  
}

.footer-container {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  display: flex;
  align-items: baseline;
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  margin-right: 120px;
  
}

.footer-container-logo_text {
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-text {
  color: #f4f4fd;
}
.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}


.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.ink-footer:active  {
  background-color: #31d0aa;
  
}

.social-media-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.list-social-media-footer {
  display: flex;
  gap: 16px;
}

